.*
!.gitignore
TeX/*.aux
TeX/*.fls
TeX/*.log
TeX/*.pdf
/TeX/*.nav
/TeX/*.out
/TeX/*.snm
/TeX/*.toc
doc/build
derived_data/apnea/low_pass*
derived_data/apnea/respiration*
#derived_data/synthetic
!derived_data/apnea/r_times/*
!derived_data/laser/
figs
*.pyc
code/hmm/*.c
code/hmm/build
*.so
*.o
/code/applications/synthetic/lor_C.c
/nohup.out
/www/OT107.www
/www/index.www
/www/software.www
*.bak
*~
*.bbl
*.blg
/derived_data/po_speech
/www/
/derived_data/synthetic/
/hmmds.egg-info/
/hmmds_code/applications/synthetic/lor_C.c
/hmmds_code/hmm/C.c
