.*
!.gitignore
TeX/*.aux
TeX/*.fls
TeX/*.log
TeX/*.pdf
doc/build
derived_data/apnea/low_pass*
derived_data/apnea/respiration*
#derived_data/synthetic
!derived_data/apnea/r_times/*
!derived_data/laser/
figs
*.pyc
code/hmm/*.c
code/hmm/build
code/hmm/*.so
/code/applications/synthetic/build/temp.linux-x86_64-3.2/lor_C.o
/code/applications/synthetic/lor_C.c
/code/applications/synthetic/lor_C.cpython-32mu.so
/TeX/*.nav
/TeX/*.out
/TeX/*.snm
/TeX/*.toc
/nohup.out
/www/OT107.www
/www/index.www
/www/software.www
*.bak
*~
